Repository facelessuser/coloraide, pull requests merged in 2024-04, with the labels that each got.

#414 docs: Fix wording in the description of the color update method
  docs/src/markdown/color.md
Labels: C: docs, S: approved

#419 Update codecov
  .github/workflows/build.yml
Labels: C: infrastructure, S: approved

#418 Allow specifying number of colors in monochromatic harmony
  coloraide/harmonies.py
  docs/src/markdown/about/changelog.md
  docs/src/markdown/harmonies.md
  docs/src/markdown/images/harmony-mono.png
  tests/test_harmonies.py
Labels: C: tests, C: source, C: docs, S: approved
