Repository facelessuser/coloraide, pull requests merged in 2025-04, with the labels that each got.

#468 Improve types
  coloraide/average.py
  coloraide/color.py
  coloraide/compositing/__init__.py
  coloraide/contrast/__init__.py
  coloraide/contrast/lstar.py
  coloraide/contrast/wcag21.py
  coloraide/convert.py
  coloraide/css/serialize.py
  coloraide/distance/__init__.py
  coloraide/distance/delta_e_2000.py
  coloraide/distance/delta_e_76.py
  coloraide/distance/delta_e_94.py
  coloraide/distance/delta_e_99o.py
  coloraide/distance/delta_e_cam02.py
  coloraide/distance/delta_e_cam16.py
  coloraide/distance/delta_e_cmc.py
  coloraide/distance/delta_e_hct.py
  coloraide/distance/delta_e_hyab.py
  coloraide/distance/delta_e_itp.py
  coloraide/distance/delta_e_ok.py
  coloraide/distance/delta_e_z.py
  coloraide/filters/__init__.py
  coloraide/filters/cvd.py
  coloraide/filters/w3c_filter_effects.py
  coloraide/gamut/__init__.py
  coloraide/gamut/fit_minde_chroma.py
  coloraide/gamut/fit_raytrace.py
  coloraide/gamut/pointer.py
  coloraide/harmonies.py
  coloraide/interpolate/__init__.py
  coloraide/interpolate/bspline.py
  coloraide/interpolate/bspline_natural.py
  coloraide/interpolate/catmull_rom.py
  coloraide/interpolate/continuous.py
  coloraide/interpolate/css_linear.py
  coloraide/interpolate/linear.py
  coloraide/interpolate/monotone.py
  coloraide/spaces/hsl/css.py
  coloraide/spaces/hwb/css.py
  coloraide/spaces/ictcp/css.py
  coloraide/spaces/jzazbz/css.py
  coloraide/spaces/jzczhz/css.py
  coloraide/spaces/lab/css.py
  coloraide/spaces/lch/css.py
  coloraide/spaces/oklab/css.py
  coloraide/spaces/oklch/css.py
  coloraide/spaces/srgb/css.py
  coloraide/temperature/__init__.py
  coloraide/temperature/ohno_2013.py
  coloraide/temperature/robertson_1968.py
  coloraide/types.py
  docs/src/markdown/about/changelog.md
  docs/src/markdown/api/index.md
  docs/src/markdown/plugins/cct.md
  docs/src/markdown/plugins/contrast.md
  docs/src/markdown/plugins/delta_e.md
  docs/src/markdown/plugins/filter.md
  docs/src/markdown/plugins/fit.md
  docs/src/markdown/plugins/interpolate.md
  docs/src/markdown/plugins/space.md
Labels: C: source, C: docs, S: approved

#470 chore: added a link to the license badge
  README.md
Labels: C: docs, S: approved

#469 Allow controlling fractional digits when rounding coordinates
  coloraide/algebra.py
  coloraide/color.py
  coloraide/css/serialize.py
  coloraide/spaces/__init__.py
  coloraide/spaces/hsl/css.py
  coloraide/spaces/hwb/css.py
  coloraide/spaces/ictcp/css.py
  coloraide/spaces/jzazbz/css.py
  coloraide/spaces/jzczhz/css.py
  coloraide/spaces/lab/css.py
  coloraide/spaces/lch/css.py
  coloraide/spaces/oklab/css.py
  coloraide/spaces/oklch/css.py
  coloraide/spaces/srgb/css.py
  coloraide/util.py
  docs/src/markdown/about/changelog.md
  docs/src/markdown/api/index.md
  docs/src/markdown/color.md
  docs/src/markdown/manipulation.md
  docs/src/markdown/strings.md
  tests/test_algebra.py
  tests/test_api.py
  tests/test_util.py
Labels: C: tests, C: source, C: docs, S: approved

#471 Calculate pseudo inverse using SVD
  coloraide/algebra.py
  docs/src/dictionary/en-custom.txt
  tests/test_algebra.py
Labels: C: tests, C: source, C: docs, S: approved
